h1 {
  color: #231AE4;
  text-align: center;
}

h2 {
  color: #231AE4;
  text-align: center;
}

h3 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

img {
  margin: auto;
  display: block;
  width: 40%, 400px;
  height: 400px;
}
